<%- include("partials/header") %>

<!-- <a href="login">login</a>
<a href="register">register</a>
 -->
<div style="background-image:url(https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
	<br><br><br><br><br><br><br><br><br><br>
<h1 style="color:#b3e6ff;font-size:200px;">
	welcome
</h1>
<div class="center btn btn-default" style="margin: 0;position: absolute;top: 60%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
	<a href="/products" >view all tech</a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<%- include("partials/footer") %>